<!DOCTYPE html>
<html>
  <head>
    <title>{{ index . "title" }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/style1.css">
    <script type='text/javascript' src="/assets/javascript/main.js"></script>
  </head>
  <body>
    <center>
      <table id="s1main" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
        <tbody>
          <tr>
            <td bgcolor="#A4B0F5">
              <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                  <td style="width:18px;padding-right:4px">
                          &nbsp;
                  </td>
                  <td style="line-height:12pt; height:10px;">
                    <span class="pagetop">
                            <b class="s1name"><a href="/">{{ index . "site_name" }}</a></b>
                      <a href="/fresh">new</a> | 
                      <a href="/about">about</a> | 
                      <a href="/buildings">buildings</a> |
                      <a href="/subs">subs</a> |
                      <a href="/stories/new">submit</a>
                    </span>
                  </td>
                  <td style="text-align:right;padding-right:4px;">
                    <span class="pagetop">
                      {{$user := index . "user"}}
                      {{ if index $user "id" }}
                      <form id="logout" method="POST" action="/sessions">
                        <input type="hidden" name="_method" value="DELETE"/>
                      </form>
                      <a href="/users/{{ index $user "username" }}/">{{ index $user "username" }}</a> | <a onclick="doLogout(event);" href="#">logout</a>
                      {{ else }}
                      <a id="login" href="/sessions/new/">login</a>
                      {{ end }}
                    </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr id="pagespace" title="" style="height:10px"></tr>
          <tr>
            <td>
                    <div id="flash" style="background-color: red; color: white; text-align: center;">{{index . "flash"}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  {{ index . "content" }}
                  <tr class="athing" id="34937128">
                    <td class="title" valign="top" align="right">
                         &nbsp;
                    </td>      
                 </tr>
               </tbody>
              </table>
            </td>
          </tr>
      </table>
      <p>{{ index . "footer" }}</p>
    </center>
 </body>
</html>
