 <tr class='athing'>
      <td>      
              &nbsp;
              &nbsp;
      </td>      
      <td align="right" valign="top" class="title">
              &nbsp;
              &nbsp;
      </td>      
      <td class="title">
            <span class="titleline">
              &nbsp;
            </span>
        </td>
       </tr>
       <tr>
        <td colspan="2"></td>
        <td class="subtext2">
                Checkout our <a href="/buildings/example">example building</a>
                        of how we think the remote renter experience should be!
              </td></tr>
      <tr class="spacer" style="height:15px"></tr>
{{range $i, $item := .}}
 <tr class='athing'>
      <td>      
              &nbsp;
              &nbsp;
      </td>      
      <td align="right" valign="top" class="title">
              <span class="rank">{{add $i 1}}.</span>&nbsp;
      </td>      
      <td class="title">
            <span class="titleline">
      <a href="{{index $item "url"}}" rel="nofollow">{{index $item "name"}}</a>
             <span class="sitebit comhead"> 
                     (<a href="/buildings/{{index $item "guid"}}/"><span class="sitestr">{{index $item "city"}}, {{index $item "state"}}</span></a>)
              </span>
            </span>
        </td>
       </tr>
       <tr>
        <td colspan="2"></td>
        <td class="subtext"><span class="subline">
          <span class="score">{{index $item "units"}} units</span> 
          at {{index $item "address"}}
          <span class="age" title="{{index $item "created_at"}}">
                  <a href="/buildings/{{index $item "guid"}}/">{{index $item "created_at_ago"}}</a></span> |
          <a href="/buildings/{{ index $item "guid" }}/">details</a> 
                </span>
              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
{{end}}
