 <tr class='athing'>
      <td align="right" valign="top" class="title">
              &nbsp;
      </td>      
      {{ template "_story" .Story}}

      {{$url := index .Story "url"}}
      {{if ne $url ""}}
       <tr class="spacer" style="height:15px"></tr>
      {{else}}
       <tr class="spacer" style="height:5px"></tr>
       <tr>
        <td colspan="2"></td>
        <td>
          {{index .Story "body"}}
        </td>
       </tr>
      {{end}}

       <tr>
       <td colspan="2"></td><td>
          <form action="/comments/{{index .Story "guid"}}" method="POST">
         <textarea name="body" rows="8" cols="80" wrap="virtual"></textarea><br><br>
<input type="submit" value="add comment"></form></td>
       </tr>

       <tr class="spacer" style="height:15px"></tr>
{{range $i, $item := .Comments}}

<tr>    <td class="ind" indent="0">&nbsp;</td>
        <td class="votelinks" valign="top">
                <!--
      <center><a id="up_35025405" class="clicky" href="5">
      <div class="votearrow" title="upvote"></div></a>
      <a id="down_35025405" class="clicky" href="5">
      <div class="votearrow rotate180" title="downvote"></div></a>
      </center>    
                -->
        </td>
        <td class="default">
                <div style="margin-top:2px; margin-bottom:-10px;">
                        <span class="comhead">
     <a href="/users/{{index $item "username"}}/" class="user">{{index $item "username"}}</a> 
     <span class="age" title="{{index $item "created_at"}}">
             <a href="/comments/{{index $item "guid"}}/">{{index $item "created_at_ago"}}</a></span>
     <span id="unv_35025405"></span>        
     <span class="navs">
     <!--
             | <a href="#35025498" class="clicky" aria-hidden="true">prev</a> |
             <a href="#35025866" class="clicky" aria-hidden="true">next</a> -->
             <span class="onstory"></span>         
             </span>
             </span>
             </div>
             <br>

                  <div class="comment">
                  <span class="commtext c00">
                          {{index $item "body"}}
              <div class="reply">       
                      <p><font size="1">
                      <u><a href="/comments/{{index $item "guid"}}/">reply</a></u>
                  </font>
      </p></div></span></div></td></tr>
       <tr class="spacer" style="height:15px"></tr>
{{end}}
