{{range $i, $item := .}}
 <tr class='athing'>
      <td align="right" valign="top" class="title">
              <span class="rank">{{add $i 1}}.</span>
      </td>      
      {{ template "_story" $item}}
      <tr class="spacer" style="height:5px"></tr>
{{end}}

{{$size := len . }}
{{if eq $size 0 }}
      <tr class="spacer" style="height:5px"></tr>
 <tr class='athing'>
      <td align="right" valign="top" class="title">
              &nbsp;
              &nbsp;
              &nbsp;
      </td>      
      <td>No stories yet, <a href="/stories/new/">submit one</a>.</td>
 </tr>
{{end}}
