       <tr class="spacer" style="height:15px"></tr>

      <tr>    
        <td valign="top"> User: </td>
        <td> {{ index . "username" }} </td>
      </tr>
      <tr>    
        <td valign="top"> Created: </td>
        <td> {{ index . "created_at" }} </td>
      </tr>
      <tr>    
        <td valign="top"> Created Ago: </td>
        <td> {{ index . "created_at_ago" }} </td>
      </tr>
      <tr>    
        <td valign="top"> Created Subs: </td>
        <td> <a href="/subs/{{ index . "username" }}/">list of {{ index . "username" }} subs</a></td>
      </tr>
       <tr class="spacer" style="height:15px"></tr>


