<main class="container">
  <div class="header">
    <h1>RemoteRenters.com</h1>
    <%= link_to "Log in",
                new_quote_path,
                class: "btn btn--primary" %>
  </div>

  <div class="welcome">
    <p>
    There is a <strong>revolution happening</strong> with remote work and paying your rent.
    </p>
    <p>
    Your rent is a <strong>huge percentage</strong> of your take home pay. 
    </p>
    <p>
    Are you getting a good deal with your current landlord?
    </p>
  </div>
  <div class="welcome">
    <p>
    Your current apartment building was probably setup <strong>before March 2020!</strong>
    </p>
  </div>
  <div class="welcome">
    <p>
    Sitting all alone in your unit with doordash & tinder as your only community isn't the same as the old days of going into an office.
    </p>
    <p>
    Your apartment building should be like the google campus!
    </p>
  </div>
  <div class="welcome">
    <p>
    AND each monthly rent payment should help you build up equity in the building.
    </p>
  </div>
  <div class="welcome">
    <p>
    Does your building meet the <br/>
    <strong>six RR minimum standards</strong>?
    </p>
    <ol>
      <li>A common area to work, yes like a WeWork!</li>
      <li>Fellow tenants working in the same industry/company.</li>
      <li>A sense of community, neighbors know everyone.</li>
      <li>No "Leasing Agent" tours for new tenants, actual tenants show you around.</li>
      <li>Equity build up with each payment.</li>
      <li>Group meals, humans like to eat together.</li>
    </ol>
  </div>

  <%= render @quotes %>
</main>
