<main class="container">
  <div class="header">
    <h1>RemoteRenters.com</h1>
    <%= link_to "Log in",
                new_quote_path,
                class: "btn btn--primary" %>
  </div>

  <div class="welcome">
    <p>
    There is a revolution happening with remote work and paying your rent.
    </p>
    <p>
    Your rent is a huge percentage of your take home pay. 
    </p>
    <p>
    Are you getting a good deal with your current landlord?
    </p>
  </div>

  <%= render @quotes %>
</main>
