<%= simple_form_for building, html: { class: "building form" } do |f| %>
  <% if building.errors.any? %>
    <div class="error-message">
      <%= building.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :address, placeholder: 'address', input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
