<main class="container">
  <%= link_to sanitize("&larr; Back to buildings"), buildings_path %>

  <div class="header">
    <h1>Building <%=@building.guid%></h1>
  </div>

  <div class="welcome">
    <img src="https://i.imgur.com/0JMAdHM.jpeg" width="200"/>
    <p>
    <%= @building.address %>
    </p>
  </div>

</main>
