<main class="container">
  <%= link_to sanitize("&larr; Back to home"), root_path %>

  <div class="header">
    <h1>Tenant Dashboard</h1>
  </div>

  <div class="welcome">
    <p>
    <a href="#" class="btn btn--primary">My Current Building</a>
    </p>
    <p>
    <%= link_to "Search Buildings",
                buildings_path,
                class: "btn btn--secondary" %>
    </p>
  </div>

  <br/>

  <div class="header">
    <h1>Landlord Dashboard</h1>
  </div>

  <div class="welcome">
    <p>
    <a href="#" class="btn btn--primary">Add/Edit Buildings</a>
    </p>
    <p>
    <a href="#" class="btn btn--secondary">Review Applications</a>
    </p>
  </div>

  <br/>

  <div class="header">
    <h1>Investor Dashboard</h1>
  </div>

  <div class="welcome">
    <p>
    <a href="#" class="btn btn--primary">My Current Investments</a>
    </p>
    <p>
    <a href="#" class="btn btn--secondary">Search for Opportunities</a>
    </p>
  </div>

  <br/>

  <div class="header">
    <h1>Contractor Dashboard</h1>
  </div>

  <div class="welcome">
    <p>
    <a href="#" class="btn btn--primary">My Current Jobs</a>
    </p>
    <p>
    <a href="#" class="btn btn--secondary">Search for Opportunities</a>
    </p>
  </div>

</main>
